<!-- INICIO NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Wall-e Cars</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarScroll">
      <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item" style="margin-right: 20px;">
          <a class="nav-link" href="/login">
            <i class="bi bi-person-fill"></i> Login
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register">
            <i class="bi bi-person-plus-fill"></i> Signup
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- FIN NAVBAR -->

<div class="main">
  <!-- Sign up form -->
  <section class="signup">
      <div class="container">
          <div class="signup-content">
              <div class="signup-form">
                  <h2 class="form-title">Inicio de Sesión</h2>
                  <form method="POST" class="register-form" #registerForm="ngForm">
                      <div class="form-group">
                          <label for="email"><i class="bi bi-envelope"></i></label>
                          <input type="email" name="email" id="email" placeholder="Tu Email" ngModel/>
                      </div>
                      <div class="form-group">
                          <label for="password"><i class="bi bi-lock"></i></label>
                          <input type="password" name="password" id="password" placeholder="Contraseña" ngModel/>
                      </div>
                      <!-- Eliminamos el campo de repetir contraseña -->
                      <div class="form-group form-button">
                          <!-- Agrega el controlador de eventos `(click)` -->
                          <input type="submit" name="signup" id="signup" class="form-submit" value="Ingresar" (click)="login(registerForm.value)"/>
                      </div>
                      <div class="form-group">
                          <a href="#">¿No tienes cuenta? Regístrate aquí</a>
                      </div>
                  </form>
              </div>
              <div class="signup-image">
                <figure><img src="https://scribie.com/assets/front/illustrations/Welcome-to-scribie-512x391.svg"></figure>
            </div>
          </div>
      </div>
  </section>
</div>
