<!-- INICIO NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Wall-e Cars</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarScroll">
      <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item" style="margin-right: 20px;">
          <a class="nav-link" href="/admin/car">
            <i class="bi bi-plus-circle"></i> Agregar Carro

          </a>
        </li>
        <li class="nav-item" style="margin-right: 20px;">
          <a class="nav-link" href="/login">
            <i class="bi bi-person-fill"></i> Cerrar Sesión
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- FIN NAVBAR -->

<div class="container" style="margin-top: 50px;">
  <div class="row">
    <div class="col-md-3" *ngFor="let car of carList">
      <div class="card-sl">
        <div class="card-image">
          <img [src]="car.img" />
        </div>

        <div class="card-heading text-center">
          {{ car.name }}
        </div>

        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Detalles
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>Marca - </strong> {{car.brand}}
                <hr>
                <strong>Color - </strong> {{car.color}}
                <hr>
                <strong>Transmisión - </strong> {{car.transmission}}
                <hr>
                <strong>Año - </strong> {{car.year}}
                <hr>
                <strong>Costo: </strong><span class="badge bg-success">${{ car.price }}</span>
              </div>
            </div>
          </div>
        </div>

        <!-- Primer botón "Purchase" -->
        <a class="card-button" routerLink="/admin/car/{{car.id}}">Actualizar</a>

        <!-- Segundo botón "Purchase" -->
        <a (click)="deleteCar(car.id)" class="card-button2">Eliminar</a>
      </div>
    </div>
  </div>
</div>
